<div id="activities">
    <div class="container p-3 mt-4">
        <div class="row">
            <% activities.forEach((item) => { %>
                <div class="col-sm mt-4">
                    <div class="index-card card" style="width: 18rem;">
                        <img style="height: 11rem;" src=<%= item.image %> alt=<%= item.name %> class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"><%= item.name %></h5>
                            <p class="card-text"><%= item.description %></p>
                            <a href=<%= item.url %> class="btn btn-primary">Aprender!</a>
                        </div>
                    </div>
                </div>
            <% })%>
        </div>
    </div>
</div>